<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Status</title>
</head>
<body>
    <div style="width: 80%; margin: auto;">
        <h1 style="text-align: center;">{{ account_status_message }}</h1>
        <a style="display: block; text-align: center;" href={{ front_url }}>You can go back to log in by clicking here</a>
    </div>
</body>
</html>